{% extends 'blog/base.html' %}
{% block content %}
    <h2>{{ object.title }}</h2>
    <p>{{ object.content }}</p>
    <p><strong>Author:</strong> {{ object.author }}</p>
    <p><strong>Published on:</strong> {{ object.published_date }}</p>

    <hr>
    <h3>Comments</h3>
    <div>
    {% for comment in comments %}
        <div>
            <p><strong>{{ comment.author }}</strong> said:</p>
            <p>{{ comment.content }}</p>
            <p><small>{{ comment.created_at }}</small></p>
            {% if comment.author == user %}
            <a href="{% url 'edit-comment' pk=comment.pk %}">Edit</a>
            <a href="{% url 'delete-comment' pk=comment.pk %}">Delete</a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
    </div>

    <h3>Add a new comment</h3>
    <form method="post" action="{% url 'add-comment' pk=object.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
{% endblock %}
