{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
        </div>
        <h2>{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div>
            <strong>Tags:</strong>
            {% for tag in object.tags.all %}
                <a href="{% url 'post-by-tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    </div>
</article>
{% endblock content %}